#site {
  height: 100vh;
  text-align: center;
  background-color: #F1F5F7;
  display: flex;
  color: black;
  position: relative;
}

#sidebar {
  width: 30vmin;
  height: 100.3%;
  background-color: rgb(2, 74, 146);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pages {
  display: flex;
  flex-direction: column;
}

#other {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0.2vmin;
}

.buttonSide {
  display: flex;
  align-items: center;
  border-width: 3vmin 0vmin 0.5vmin 1vmin;
  border-color: transparent transparent white transparent;
  border-style: solid;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: 2vmin;
  cursor: pointer;
  height: 2vmin;
  align-items: center;
}

.buttonSide * {
  border-width: 0vmin 0vmin 1.5vmin 3vmin;
  border-color: transparent;
  border-style: solid;
  margin: 0px;
}


#content {
  width: 85%;
  height: 100%;
  background-color: #F1F5F7;
  color: black;
  display: flex;
  flex-direction: column;
}

#header {
  position: relative;
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: space-between;
  top: 3%;
}

#logo {
  position: relative;
  width: 17vmin;
  height: auto;
  right: 4%;
}

#headline-wrap {
  position: relative;
  background-color: rgb(2, 74, 146);
  padding: 0% 0% 0% 0.5%;
  height: 100%;
  width: 70%;
  top: 2%;
  left: 4%;
}

#headline {
  position: absolute;
  background-color: #F1F5F7;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#headline p {
  width: 100%;
  height: 24%;
  font-size: 3vmin;
  text-align: start;
  margin: 0px;
}

#middle {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  top: 3%;
  height: 83%;
  width: 70%;
}

.button {
  width: 20vmin;
  height: 7vmin;
  color: black;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: white;
  line-height: 42px;
  padding: 10px 25px;
  border: none;
  font-size: 2vmin;
  border-width: 0.2vmin 0.2vmin 0.2vmin 0.2vmin;
}

.button span {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #F1F5F7;
  border-width: 0.2vmin 0.2vmin 0.2vmin 0.2vmin;
  border-color: rgb(2, 74, 146);
  border-style: solid;
}